.OvertimeDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imagediv img{
    width: 80px;
    height: 100px;
}
.Details{
    padding: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}