.sidebar{
    width: 200px;
    height: 100vh;
    background-color: #1a2945;
    display: grid;
    grid-template-rows: 1.5fr 3fr;
}
.Menu{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding: 5px;
    justify-content: space-around;
}
.Menu li{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}
.Menu li img{
    width: 30px;
}