.UpcomingTimeoffContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.UpcomingTimeoff {
    font-weight: bold;
}

.Upcoming {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.dateSide {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.weekday,
.type {
    font-size: 12px;
    color: rgb(164, 160, 160);
}

.Line {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Divider {
    width: 98%;
    height: 1px;
    background-color: rgb(164, 160, 160);
}