.coins {
  display: flex;
  align-items: center;
}
.coinsdiv {
  display: flex;
  gap: 5px;
  padding: 10px;
  align-items: center;
}
.coins img {
  width: 15px;
}
.summary {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding: 10px;
}
.summaryTitle {
  display: flex;
  gap: 10px;
}
.summaryTitle img {
  width: 20px;
}
.bigcoins {
  font-size: 25px;
  color: rgb(145, 215, 145);
  display: flex;
  gap: 10px;
}
.totalexpenses {
  font-weight: 400;
  color: rgb(91, 88, 88);
}
.pendingItemsClock1 {
  color: rgb(118, 201, 118);
}

.summaryparent {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  padding: 30px;
}
.Expenses {
  font-weight: 500;
  font-size: 1.4rem;
  color: rgb(39, 37, 37);
}

.pendingItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid rgb(158, 158, 158);
  padding: 10px;
}

.pendingItemsClock,
.pendingItemsClock1 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.pendingItemsClockImag img {
  width: 20px;
}

.pendingItemsClockCount {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(227, 121, 21);
}
.pendingItemsRupee,
.pendingItemsRupee1 {
  font-weight: 600;
  margin-left: 15px;
  font-size: 1.4rem;
  color: rgb(109, 105, 105);
}
.pendingItemsRupee1 {
  color: rgb(109, 105, 105);
}
.pendingItemsparent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pendingItemsparent :last-child {
  border: none;
}

.pendingItemsDivider {
  width: 1px;
  height: 26px;
  background-color: black;
}
.pendingItemsClockCount1 {
  font-weight: 600;
  font-size: 2rem;
}
.pendingItemsClockText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pendingItemsClockTextmsg {
  width: 80%;
}
.OverviewContainerbuttons {
  align-items: center;
}

@media screen and (max-width: 720px) {
  .pendingItemsparent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .pendingItems {
    border-right: none;
    border-bottom: 1px solid rgb(206, 206, 206);

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pendingItemsClockTextmsg {
    text-align: center;
  }
  .pendingItems {
    gap: 10px;
  }
  .summary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
