.individualFeedBack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 100vh;
}

.individualFeedBackLeft {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
}

.userDetails {
    width: 100%;
    background-color: #ffffff;
}

.tabAndResume {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #ffffff;
    height: 70%;
    padding: 10px;
}

.tabs {
    display: flex;
    flex-direction: row;
}

.tabs2 {
    display: grid;
    flex-direction: row;
    border: 1px solid rgb(199, 195, 195);
    width: fit-content;
    border-radius: 2px;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
}

.tabsName {
    background-color: rgb(199, 195, 195);
    padding: 10px;
}

.tabpdf {
    border: 1px solid rgb(199, 195, 195);
}

.tabspdf {
    padding: 10px;
}

.resume2 {
    border: 1px solid rgb(199, 195, 195);
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-weight: 600;
}
.resume {
        border: 1px solid rgb(199, 195, 195);
    height: 100%;
    width: 100%;
}
.btns {
    display: flex;
    gap: 10px;
}

.btns1Green,
.btns1Red {
    border: 1px solid;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
}

.btns1Green {
    border-color: rgb(29, 191, 29);
    color: rgb(29, 191, 29);
}

.btns1Red {
    border-color: rgb(191, 34, 29);
    color: rgb(191, 34, 29);
}

.individualFeedBackRight {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.scorecardtextdiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btnactiveGreen {
    background-color: rgb(29, 191, 29);
    color: #ffffff;
}

.btnactiveRed {
    background-color: rgb(191, 34, 29);
    color: #ffffff;
}

.userDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.userDetails1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}