.taxmodalContainer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  margin-top: 20px;
}

.taxmodalContainer > div {
  flex: 1;
  background: #f8f9fa;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.taxmodalContainer > div > div:first-child {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.taxmodalContainer table {
  width: 100%;
  border-collapse: collapse;
}

.taxmodalContainer th,
.taxmodalContainer td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.taxmodalContainer th {
  background-color: #ebeff2;
  font-weight: bold;
}

.tableContainer {
  background-color: #d0dbff !important;
}

@media (max-width: 768px) {
  .taxmodalContainer {
    flex-direction: column;
  }

  .taxmodalContainer > div {
    width: 100%;
  }
}
