.Deductionstablebox {
  background-color: #fff;
  border-left: 1px solid #e5e7eb;
  border-top: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 50px;
   justify-content: center;
  text-align: center;
}
.Deductions h2 {
  font-size: 18px;
  font-weight: 500;
}

.Deductions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Deductions button {
  height: 35px;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
}
.Deductionstable {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 1px solid #e5e7eb;
  background-color: rgb(243, 240, 240);
  padding: 8px 0;
  font-size: 14px;
}
.Deductionsimg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Deductionsimg img{
  width: 225px;
}
.btnselect {
    width: 250px;
    height: fit-content;
    box-shadow: 1px 2px 2px 2px rgb(196, 196, 196);
    position: absolute;
    z-index: 4;
    background-color: #ffffff;
    right: 10px;
    border-radius: 5px;
}

.btnselect p {
    padding: 10px;
    text-align: start;
    cursor: pointer;
}

.btnselect p:hover {
    background-color: #e9f7ef;
}
@media screen and (max-width:720px) {
  
  .Deductionstablebox{
    gap: 50px;
    font-size: 12px;
  }
  .Deductions h2 {
  font-size: 12px;
}
.Deductions button {
  height: 20px;
  font-size: 12px;
}
.Deductionstable{
  gap: 10px;
  overflow: scroll;
  font-size: 12px;
}

}