.Deductionstablebox {
  background-color: #fff;
  border-left: 1px solid #e5e7eb;
  border-top: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 50px;
   justify-content: center;
  text-align: center;
}
.Deductions h2 {
  font-size: 18px;
  font-weight: 500;
}

.Deductions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Deductions button {
  height: 35px;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
}
.Deductionstable {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 1px solid #e5e7eb;
  background-color: rgb(243, 240, 240);
  padding: 8px 0;
  font-size: 14px;
}
.Deductionsimg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Deductionsimg img{
  width: 225px;
}
@media screen and (max-width:720px) {
  
  .Deductionstablebox{
    gap: 50px;
    font-size: 12px;
  }
  .Deductions h2 {
  font-size: 12px;
}
.Deductions button {
  height: 20px;
  font-size: 12px;
}
.Deductionstable{
  gap: 10px;
  overflow: scroll;
  font-size: 12px;
}

}