.leaveBCotainerMain {
    background-color: rgb(244 244 244);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    position: relative;
    overflow: hidden;
}

.leaveBCotainerMaindiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
}

.leaveWindowsOverLay {
    background-color: rgb(128, 128, 128, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: end;
}

.leaveWindows {
    width: 300px;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    background-color: rgb(244 244 244);
    z-index: 1;
}

.leaveWindowsdetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.leaveWindowsdiver{
    height: 1px;
    width: 100%;
    background-color: rgb(214, 212, 212);
}

.leaveWindowsdiverBox{
    padding: 10px;
}

.leaveWindowsx{
    cursor: pointer;
}