.EmploymentDetails{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;

}
.EmploymentDetailstitle{
    font-size: 18px;
    font-weight: 500;
}
.EmploymentDetailstab{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}
.EmploymentDetailsbox{
    border: 1px solid rgb(225, 222, 222);
    width: 30%;
    height: 25%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;

}
.staffcategory{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.titlesname{
 font-weight: 400;
 color: gray;
}
.subtitlesname{
    color: rgb(41, 40, 40);
    font-weight: 400;
}
.WORKROLE{
    font-weight: 600;
}
.divider{
  width: 100%;
  height: 1px;
  background-color: rgb(225, 222, 222);
}
.location{
    border: 1px solid rgb(225, 222, 222);
    width: 30%;
    height: 25%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}
.officelocation{
    font-size: 18px;
    font-weight: 600;
}
.EmploymentDetailsicon{
    display: flex;
    gap: 20px;
    align-items: center;
}
@media screen and (max-width: 720px) {
    .EmploymentDetailstab{
        padding: 10px;
        gap: 20px;
    }
    .EmploymentDetails{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .EmploymentDetailstitle,
    .WORKROLE,
    .officelocation{
        font-size: 16px;
        text-align: left;
    }
    .EmploymentDetailsicon{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
       gap: 10px;
    }
    .EmploymentDetailsicon p{
        font-size: 14px;
    }
    .EmploymentDetailsbox,
    .location {
        width: 100%;
        height: auto;
        padding: 12px;
        gap: 20px;
        box-sizing: border-box;
    }
    .titlesname{
        font-size: 14px;
    }
    .subtitlesname{
        font-size: 14px;
    }
    .divider{
        width: 100%;
    }
}
