.container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 0;
    font-weight: bold;
    color: #333;
}

.mainContent {
    width: 100%;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
}

.warning {
    color: #000;
    font-size: 14px;
}

.warning span {
    color: red;
}

.warning i {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 100%;
}

.submitButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 100px;
}

.submitButton:hover {
    background-color: #45a049;
}

.goalSummary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
     margin-bottom: 20px;
     margin-top: 20px;
}

.goalSummary div {
    text-align: center;
}

.goalSummary h3 {
    font-size: 32px;
    margin: 0;
    margin-top: 10px;
}

.pillars {
    display: flex;
    flex-direction: column;
}

.pillar {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pillar h4 {
    font-size: 18px;
    margin: 0;
}

.pillar p {
    margin: 5px 0;
}

.detailsButton {
    background-color: #007BFF;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.detailsButton:hover {
    background-color: #0056b3;
}

.waringsubp {
    width: 100%;
    display: flex;
    justify-content: center;
}

.waringsub {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: rgb(240, 240, 193);
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.goalCount, .subGoalCount{
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    display: flex;
    align-items: baseline;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding: 10px;
}

.subGoalCount span img{
    width: 25px;
        margin-right: 10px;
}

.goalCount span img{
    width: 25px;
    margin-right: 10px;
}

.detailsButton{
    background: transparent;
    box-shadow: none;
    color: rgb(54, 54, 242);
}

.status {
    position: relative;
    background: #e9e9ff;
    color: #6a5acd;
    padding: 0.4rem 0.8rem;
    border-radius: 12px;
    font-size: 0.85rem;
}

.status::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.6rem;
    height: 1.6rem;
    border-radius: 10px 0px 0px 10px;
    background-color: #d0d0ff;
}

.pillarinpro,.pillarwei,.pillarweibtn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pillarinpro span{
    width: 100px;
}

.pillarweibtnimg {
    display: flex;
    gap: 20px;
}
.pillarweibtnimg img{
    padding: 5px;
    border: 1px solid rgb(226, 226, 226);
    width: 20px;
}
.pillarweibtn2 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    gap: 10px;
}

.pillarweibtn2 button:hover{
background-color: transparent;
}