.container {
  display: flex;
  background: #f8f9fb;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.sidebar {
  width: 230px;
  background: #fff;
  padding: 1rem;
  border-right: 1px solid #ddd;
}

.section {
  font-weight: 600;
  color: #6a5acd;
  margin-bottom: 0.5rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 0.5rem 0;
  cursor: pointer;
  color: #555;
}

.active {
  color: #6a5acd;
  font-weight: 600;
}

.main {
  flex: 1;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createBtn {
  background: #6a5acd;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.tabs {
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab {
  background: transparent;
  border: none;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  font-weight: 500;
  color: #555;
}

.activeTab {
  background-color: #f4f3fa;
  color: #6a5acd;
}

.searchBar {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.searchBar input {
  width: 40%;
  padding: 0.7rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.tabsbtns{
    display: flex;
}

.searchBarimg{
    display: flex;
}

.searchBarimg img{
    border: 1px solid rgb(219, 219, 219);
    padding: 5px;
    width: 20px;
    height: 20px;
}