.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}
.PendingRequest{
    display: flex;
    justify-content: flex-start;
}
.pendingimageContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.pendingimageContainer img{
     width: 100px;
    height: 100px;
}