.financialOverview {
  border-bottom: 1px solid rgb(216, 216, 216);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  display: flex;
  align-items: center;
}

.financialYear {
  margin-right: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.financialYear img {
  width: 30px;
}
.showValues input {
  margin-left: 10px;
}

.financialYear select {
  border: none;
}
.financialYear select option {
  font-weight: 700;
  color: #000;
}

@media screen and (max-width: 720px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .filters {
    width: 100%;
    justify-content: space-between;
  }
  .financialOverview {
    font-size: 12px;
  }
  .header {
    font-size: 12px;
  }
}
