.taxSheetMainDv {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.taxSheetMainbtndis {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.taxSheetIncome {
    display: flex;
    gap: 20px;
    align-items: center;
}

.taxSheetIncomebtn {
    display: flex;
}

.taxSheetIncomebtn2,
.taxSheetIncomebtn4 {
    border: 1px solid rgb(180, 180, 240);
    padding: 10px;
    cursor: pointer;
}

.taxSheetIncomebtn2 {
    border-right: none;
    background-color: rgb(240, 240, 252);
}

.taxSheetnew {
    background-color: rgb(245, 218, 144);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.taxSheetcurnry {
    display: flex;
    gap: 20px;
    align-items: center;
}

.taxSheetcurnry3 {
    color: rgb(120, 120, 243);
    cursor: pointer;
}
.btnselect {
    width: 250px;
    height: fit-content;
    box-shadow: 1px 2px 2px 2px rgb(196, 196, 196);
    position: absolute;
    z-index: 4;
    background-color: #ffffff;
    right: 10px;
    border-radius: 5px;
}

.btnselect p {
    padding: 10px;
    text-align: start;
    cursor: pointer;
}

.btnselect p:hover {
    background-color: #e9f7ef;
}


@media screen and (max-width: 720px) {
    .taxSheetMainbtndis {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .taxSheetIncome{
        font-size: 12px;
    }
}