.GoalReview{
    width: 100%;
    height: 60%;
}

.goalReview img{
    width: 500px;
}

.goalReview{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}