.tabsnavigation {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(138, 133, 133);
  margin-top: 20px;
  box-sizing: border-box;
}

.tabs {
  padding: 15px 0;
  cursor: pointer;
  position: relative;
  color: #555;
}

.Tabactive {
  color: rgb(144 134 255);
}

.slider {
  position: absolute;
  bottom: -1px;
  height: 2px;
  background: rgb(144 134 255);
  transition: transform 0.3s ease, width 0.3s ease;
}

@media screen and (max-width: 720px) {
  .tabsnavigation {
    font-size: 12px;
    gap: 10px;
    overflow: scroll;
  }
}
