.leaveBCotainer{
    box-shadow: 1px 1px 1px 1px #e3dfdf;
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr .2fr 6fr;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}
.leaveBCotainer1{
    padding-left: 10px;
}
.leaveBCotainer2{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.diver{
    height: 30px;
    width: 1px;
    background-color: #e3dfdf;
}