.ExtraPayments{
    display: flex;
    flex-direction: column;
}
.ExtraPaymentstable{
    width: 100%;
}
.ExtraPaymentstable table{
    width: 100%;
    text-align: center;
    border-spacing:0 ;
}
.ExtraPaymentstable thead{
background-color: rgb(239 239 239);
}

.ExtraPaymentstable th{
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}
.ExtraPaymentstable tbody tr td{
padding: 15px;
}


.ExtraPaymentsfirstdiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ExtraPaymentsfirstdiv input{
    margin-bottom: 10px;
    width: 250px;
    border-color: rgb(216, 216, 216);
    height: 30px;
    box-shadow: none;
    border-style: none;
    border: 1px solid #dadada;
}
@media screen and (max-width: 720px) {
    .ExtraPaymentstable{
        overflow: scroll;
}
    .ExtraPayments{
   font-size: 12px;
   gap: 20px
}
}