.searchActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.searchBox {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    padding: 6px 10px;
    gap: 8px;
    border: 1px solid #edf2f6;
    min-width: 420px;
}

.searchBox input {
    border: none;
    outline: none;
    width: 280px;
    font-size: 14px;
}

.topIcons {
    display: flex;
}

.iconBtn {
    border: none;
    background: #fff;
    padding: 8px;
    box-shadow: 0 1px 0 rgba(16, 22, 36, 0.02);
    cursor: pointer;
    border: 1px solid rgb(228, 228, 228);
}

.colr div {
    background-color: rgb(221 236 244);
    width: 100%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colr2 div {
    background-color: rgb(223 209 241);
    width: 100%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableHoliday {
    width: 100%;
}

.tableHoliday tbody tr td {
    text-align: center;
    padding: 10px;
}