body{
    margin: 0;
}
.Container{
   display: flex;
   width: 100%;
   height: 100vh;
   justify-content:center;
   background-color: cadetblue;
   background-image: url("../../assets/easports.png");
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
   align-items: center;
}
.rightLogin{
    height: 500px;
    width: 350px;
    padding: 10px;  
    display: flex;
    justify-content: center;
}
.box{
    background-color:rgb(254 253 254);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
    color: rgb(115 119 119);
    border-radius: 3px;
}
.box h2{
    font-size: 20px;
    margin-bottom: 5px;
}
.box p{
    font-size: 14px;
}
button{
    font-size: 14px;
    border: none;
    padding: 12px;
    width: 280px;
    background-color:rgb(254 253 254) ;
    box-shadow: 1px 1px 1px 1px #d8d1d1;
    color: rgb(115 119 119);
}
.sso{
    display: flex;
    align-items: flex-start;
}
img{
    width: 80px;
    height: 90px;
}
.Policy{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.Powered{
    padding: 25px;
    color: rgb(203 210 214);
}
.Pvt{
 margin: 0;
}
.Sports{
    display: flex;
    flex-direction: column;
    /* margin-top: 30px; */
    align-items: center;
}
.Or{
    color: rgb(174 181 185);
}
@media (min-width: 1024px) {
 .Container{
    display: flex;
    justify-content: flex-end;
 }
 .rightLogin{
    margin-right: 30px;
 }
}