.paySlipsContainer{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 10px;
}

.paySlipsYear{
    display: flex;
    justify-content: space-between;
}

.paySlipsYearContainer{
    display: flex;
    gap:10px;
    align-items: center;
}

.paySlipsYearText{
    font-weight: 600;
}

.paySlipsYearContainer p{
        font-weight: 600;
}
@media screen and (max-width: 720px) {
    .paySlipsYear{
        font-size: 12px;
        align-items: center;
    }
    .paySlipsYearContainer{
    font-size: 12px;
}
}