.attendanceOverview {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(220, 218, 218);
    gap: 20px;
}

.overviewAttendance {
    height: 10%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.pendingOverAttendLeave {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
    gap: 20px;
}

.pendingOver {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 70%;
}

.attendLeave {
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
    gap: 20px;
}

.letUpWho {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 30%;
}

.pendingRequest {
    height: 20%;
}

.overtimeDetails {
    height: 40%;
}
.letsgotoWork{
    height: 20%;
}
.upcomingTimeoff{
    height: 30%;
}
.whoisoutintheTeam{
    height: 40%;
}
.attendanceMetrics{
    width: 100%;
}
.leaveBalance{
    width: 100%;
}
.pendingRequest,
.overtimeDetails,
.attendanceMetrics,
.leaveBalance,
.letsgotoWork,
.upcomingTimeoff,
.whoisoutintheTeam {
    background-color: #fff;
}