body{
    font-family: "Roboto", sans-serif;
    margin: 0;
        background-color: #ffffff;

}
.content{
     display: grid;
     grid-template-columns: 1fr 7fr;
     gap: 10px;
}
@media (max-width: 720px) {
    .content{
     display: grid;
     grid-template-columns: auto;
}
.flowroute{
    overflow: scroll;
    width: 100%;
}
}