.Parent {
  width: 100%;
}
.SmartSuggestionsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: skyblue;
  color: white;
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

.SmartSuggestions {
  display: flex;
  align-items: center;
}
.SuggestionsFeedback {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.SuggestionsToday {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.SuggestionsToday .ACt {
  width: 80px;
  color: rgb(48, 64, 157);
}
.pagination {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.paginationright {
  display: flex;
  gap: 10px;
}
.paginationarrow {
  cursor: pointer;
}
